*{
    box-sizing: border-box;
}

html{
    font-size: 8px;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

video{
    width: 100%;
    height: auto;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.main-header{
    width: 1600px;
    height: 837px;
    background-color: #FFF8F3;
}

.main-header nav.navbar{
    padding-top: 51px;
    padding-left: 226px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-header .navbar .logo h1{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.main-header .navbar .logo span.logo-color{
    color: #FD6E0A;
}
